body {
    font-family: "Arial";
    color: #444;
}

h1, h2 {
    color: #f60;
    font-weight: normal;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
    margin: 0;
}

a {
    color: #f60;
    border: 1px solid #fda;
    background: #fff0e0;
    border-radius: 3px; -moz-border-radius: 3px;
    padding: 2px;
    text-decoration: none;
    /* font-weight: bold; */
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu li {
    padding: 5px 0;
}


.box {
          width: 440px;
          float: left;
          margin: 0 20px 0 20px;
      }

      .box div, .box input {
          border: 1px solid;
          -moz-border-radius: 4px;
          border-radius: 4px;
          width: 100%;
          padding: 5px;
          margin: 3px 0 10px 0;
      }

      .box div {
          border-color: grey;
          height: 300px;
          overflow: auto;
      }

      div code {
          display: block;
      }

      #first div code {
          -moz-border-radius: 2px;
          border-radius: 2px;
          border: 1px solid #eee;
          margin-bottom: 5px;
      }

      #second div {
          font-size: 0.8em;
      }